/*
/*  popup.css
/*  QR Code
/*
/*  Created by Niklas Gabriel on 09.03.23.
/*
/* GENERAL */
:root {
    color-scheme: light dark;
}

body {
    width: 400px;
    font-family: system-ui;
    text-align: center;
    margin: 0;
    background-color: #00000010;
}
p {
    margin: 10px 0;
}
input {
    background-color: #00000020;
    height: 30px;
    width: 90%;
    margin-bottom: 18px;
    padding: 0 4px;
    border-radius: 9px;
    border: 1px solid black;
    font-size: 100%;
}
input::placeholder {
    color: #00515ba0;
}
button {
    background-color: #00000020;
    height: 30px;
    width: 60%;
    margin-bottom: 18px;
    border-radius: 9px;
    border: 1px solid black;
    font-size: 100%;
}

/* MENU */
#menu table {
    width: 100%;
    padding: 0 8px;
    border-collapse: collapse;
}
.menuItem {
    padding: 8px 0;
    border-bottom: 2px solid black;
    --m1-color: #00606d;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#menu td:hover {
    color: #00606d;
}
#m1 {
    color: var(--m1-color);
    border-bottom-color: var(--m1-color);
}
#m2 {
    color: var(--m2-color);
    border-bottom-color: var(--m2-color);
}
#m3 {
    color: var(--m3-color);
    border-bottom-color: var(--m3-color);
}
#m4 {
    color: var(--m4-color);
    border-bottom-color: var(--m4-color);
}

/* CONTENT */
#content {
    margin-bottom: 8px;
}

#a_m2, #a_m3, #a_m4 {
    display: none;
}

.header {
    font-size: large;
}

#a_m4_ssid {
    margin-bottom: 8px;
}

#qrcode {
    width: 80%;
    border-radius: 9px;
    /*transition: all 0.3s ease-in-out;*/
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
